.user-management {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-management h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-management button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    justify-content: end;
  }

   /* Style for disabled buttons */
.user-management button:disabled {
  background-color: #cccccc; /* Lighter background color for disabled state */
  color: #666666;            /* Lighter text color for disabled state */
  cursor: not-allowed;       /* Show a 'not-allowed' cursor on hover */
  opacity: 0.6;              /* Slightly transparent to indicate disabled state */
}
  
  .user-management button:hover {
    background-color: #0056b3;
  }
  
  .user-management div {
    margin-bottom: 15px;
  }
  
  .user-management label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .user-management input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .user-management input[type="text"],
  .user-management input[type="password"] {
    font-size: 16px;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    max-width: 80%;
    text-align: center;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .popup-content p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
  }
  
  .popup-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .popup-content button:hover {
    background-color: #0056b3;
  }
  
  .popup-content button:focus {
    outline: none;
  }
  
  