.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cfe7e4; /* Background color */
  }
  
  .button-box {
    background-color: #f0f4f8;
    border-radius: 20px;
    padding: 40px 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .button {
    background-color: #2f2862;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
    width: 200px;
    transition: background-color 0.3s;

  }
  
  .button:hover {
    background-color: #1c1a4a;
  }
  